<div class="s7 flex-item norm-color">
    <label for="att-select">Attribute 2</label>
    <select class="norm-color" name="selected_attr2" id="selected_attr2">
        {{#select selected_attr2}}
            <option class="norm-color" value="none"></option>
            {{#each atts as |att name|}}
            <option {{#ife ../att2 name}}selected{{/ife}} class="norm-color" value="{{name}}">{{proper name}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>