<div class="s7 flexcol">
    <div class="s7 flexrow">
        <div class="s7 flexitem">
            <table>
                <tr>
                    <th>Edge</th>
                    <td>Heat</td>
                </tr>
                <tr>
                    <td>Placeholder</td>
                    <td>Placeholder</td>
                </tr>
            </table>
        </div>
    </div>
</div>