    <div class="s7 flexrow">
            {{#each data.attributes as |attObj attName|}}
            {{> "systems/s7/templates/actor/parts/attribute.hbs"
                attribute=attObj
                attributeName=attName
            }}
            {{/each}}
    </div>
    