<div class="s7 flex-item">
    <h3>Defenses</h3>
    <table class="item-table">
        <tr>
            <td>Physical</td>
            <td>{{data.defenses.physical}}</td>
            <td><a class="boost" title="Boost Defense" data-def-boost="physical"><i class="fas fa-shield-alt"></i></a></td>
        </tr>
        <tr>
            <td>Social</td>
            <td>{{data.defenses.social}}</td>
            <td><a class="boost" title="Boost Defense" data-def-boost="social"><i class="fas fa-shield-alt"></i></a></td>
        </tr>
        <tr>
            <td>Mental</td>
            <td>{{data.defenses.mental}}</td>
            <td><a class="boost" title="Boost Defense" data-def-boost="social"><i class="fas fa-shield-alt"></i></a></td>
        </tr>
        <tr>
            <td>Astral</td>
            <td>{{data.defenses.astral}}</td>
            <td><a class="boost" title="Boost Defense" data-def-boost="astral"><i class="fas fa-shield-alt"></i></a></td>
        </tr>
    </table>
</div>