<div class="s7 flex-item">
    <table class="item-table">
        <tr>
            <td><a class="boost" title="Boost Defense" data-def-boost="physical"><i class="fas fa-shield-alt"></i></a> Physical {{data.defenses.physical}}</td>
            
            <td><a class="boost" title="Boost Defense" data-def-boost="social"><i class="fas fa-shield-alt"></i></a> Social {{data.defenses.social}}</td>
            
        </tr>
        <tr>
            <td><a class="boost" title="Boost Defense" data-def-boost="social"><i class="fas fa-shield-alt"></i></a> Mental {{data.defenses.mental}}</td>
            
            <td><a class="boost" title="Boost Defense" data-def-boost="astral"><i class="fas fa-shield-alt"></i></a> Astral {{data.defenses.astral}}</td>
            
        </tr>
    </table>
</div>