<div class="s7 flex-item inset" style="flex:2">
    <table class="item-table">
        <tr>
            <th>Effect</th>
            <th>Description</th>
            <th>Cost</th>
        </tr>
        <tr>
            <td>Blitz</td>
            <td>Move to the top of the initiative order and take an action.</td>
            <td>1*</td>
        </tr>
        <tr>
            <td>Second Wind</td>
            <td>Remove 1/2 (round up) of all Stun Damage</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Gut Check</td>
            <td>Ignore all wound modifiers for a single test</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Arcane Conduit</td>
            <td>Ignore Drain for 1 spellcasting test</td>
            <td>1*</td>
        </tr>
        <tr>
            <td>In the Zone</td>
            <td>Halve the threshold for a single test</td>
            <td>1*</td>
        </tr>
        <tr>
            <td>Brutality</td>
            <td>Double damage for a single attack</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Hard Target</td>
            <td>Roll 4 dice and add hits to the defense of your choice for 1 round.</td>
            <td>1</td>
        </tr>
    </table>
    <p><em>* Usable once per encounter</em></p>
 
    
</div>