<div class="s7 flex-item">
    <table>
        {{#unless data.monitor.stun.disabled}}<tr>
            <td> <strong>STUN (-{{data.monitor.stun.wp}}) </strong></td>
            {{log "Stunvals" data.monitor.stun.damage data.monitor.stun.value}}
            <td>{{#times data.monitor.stun.damage}} <i class="fas fa-square"></i> {{/times}}{{#times data.monitor.stun.value}} <i class="far fa-square"></i> {{/times}}
             <a class="adj-dmg" data-dmg-change="rem" data-dmg-type="stun"><i class="fas fa-caret-square-left"></i></a><a class="adj-dmg" data-dmg-change="add" data-dmg-type="stun"> <i class="fas fa-caret-square-right"></i></a></td>
        </tr>
        {{/unless}}
        <tr>
            <td><strong>PHYSICAL (-{{data.monitor.physical.wp}}) </strong></td>
            <td> {{#times data.monitor.physical.damage}} <i class="fas fa-square"></i> {{/times}}
    {{#times data.monitor.physical.value}} <i class="far fa-square"></i> {{/times}}  <a class="adj-dmg" data-dmg-change="rem" data-dmg-type="physical"><i class="fas fa-caret-square-left"></i></a><a class="adj-dmg" data-dmg-change="add" data-dmg-type="physical"> <i class="fas fa-caret-square-right"></i></a><br/></td>
        </tr>
        <tr>
            <td><strong>OVERFLOW</strong></td>
            <td> {{#times data.monitor.overflow.damage}} <i class="fas fa-square"></i>{{/times}}
    {{#times data.monitor.overflow.value}} <i class="far fa-square"></i>{{/times}}
     <a class="adj-dmg" data-dmg-change="rem" data-dmg-type="overflow"><i class="fas fa-caret-square-left"></i></a><a class="adj-dmg" data-dmg-change="add" data-dmg-type="overflow"> <i class="fas fa-caret-square-right"></i></a></td>
        </tr>
    </table>  
    
</div>