<div class="s7 flex-item">
    <strong><a class="adj-phys">PHYSICAL: </a></strong> 
   
        {{#times data.monitor.physical.damage}} <i class="fas fa-square"></i> {{/times}}
    {{#times data.monitor.physical.value}} <i class="far fa-square"></i> {{/times}}
    
</div>