<div>
    <table>
        <tr style="color:white;">
            <th style="text-align:left;">{{localize "S7.GameTerms.Skill"}}</th>
            <th>{{localize "S7.GameTerms.Untrained"}}</th>
            <th>Base</th>
            <th>Mod</th>
            <th>Rating</th>
        </tr>
            {{#each data.skills as |sk id|}}
            {{> "systems/s7/templates/actor/parts/skill.hbs"
                skill=sk
                skillName=id
                awakened=../data.awakened
            }}
            {{/each}}
    </table>
</div>