<div class="s7 flex-item inset border-right-light" style="overflow-y:auto; overflow-x:hidden">
    <table>
        <tr style="color:white;">
            <th style="text-align:left;">{{localize "S7.GameTerms.skill"}}</th>
            <th>{{localize "S7.GameTerms.untrained"}}</th>
            <th>Base</th>
            <th>Mod</th>
            <th>Rating</th>
        </tr>
            {{#each data.skills as |sk id|}}
            {{> "systems/s7/templates/actor/parts/skill.hbs"
                skill=sk
                skillName=id
                awakened=../data.awakened
            }}
            {{/each}}
    </table>
</div>