<div class="s7 flex-item">
    <strong><a class="adj-stun">STUN: </a></strong> 
    
        {{#times data.monitor.stun.damage}} <i class="fas fa-square"></i> {{/times}}
    {{#times data.monitor.stun.value}} <i class="far fa-square"></i> {{/times}}
    
</div>