<div class="s7 flex-item inset">
    <h3>MISCELLANEOUS MODIFIERS</h3>
    <table class="item-table">
    <tr>
    <td>Meatspace Init Score</td>
    <td><input class="s7 value-input" id="msinit" type="text" name="data.miscmods.ms_initscore" value="{{data.miscmods.ms_initscore}}" data-dtype="Number"/></td>
    <td>Meatspace Init Dice</td>
    <td><input class="s7 value-input" id="msinitd" type="text" name="data.miscmods.ms_initdice" value="{{data.miscmods.ms_initdice}}" data-dtype="Number"/></td>
    <td>Matrix Init Score</td>
    <td><input class="s7 value-input" id="mxinit" type="text" name="data.miscmods.mx_initscore" value="{{data.miscmods.mx_initscore}}" data-dtype="Number"/></td>
    <td>Matrix Init Dice</td>
    <td><input class="s7 value-input" id="mxinitd" type="text" name="data.miscmods.mx_initdice" value="{{data.miscmods.mx_initdice}}" data-dtype="Number"/></td>
    </tr>
    </table>
</div>