<div class="s7 flex-item wtext">

    <select name="data.damage.element" id="elem-select">
        {{#select data.damage.element}}
            <option value="none"></option>
            {{#each config.elementtypes as |locstring elem|}}
            <option value="{{elem}}">{{localize locstring}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>