<div class="s7 flex-item wtext">
    
    <select name="data.category" id="cat-select">
        {{#select data.category}}
            {{#each config.spellcats as |locstring cat|}}
            <option value="{{cat}}">{{localize locstring}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>