<div class="s7 flex-item wtext">
    <select name="data.mode" id="mode-select">
        {{#select data.mode}}
            <option value="none"></option>
            <option value="indirect">Indirect</option>
            <option value="direct">Direct</option>
        {{/select}}
    </select>
</div>