<div class="s7 flex-item wtext">
    <label for="skill-select">Roll Skill</label>
    <select name="data.roll.skill" id="skill-select">
        {{#select data.roll.skill}}
        <option value="none"></option>
            {{#each config.vehicle_skills as |locstring skillname|}}
            <option value="{{skillname}}">{{localize locstring}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>