.s7 input, th, tr {
    color:white;
}
.s7 table, th {
    border:none;
}

.s7 select {
    color:white;
    width:100%;
}


.s7 .window-content {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKElEQVQYV2NUU1P7//PnTwYQYGdnZ2CUl5f/D+OAJMACIBmYKkZ0LQBtSRGf2hu8MAAAAABJRU5ErkJggg==);
  }

.s7 option, optgroup {
    background-color:rgb(27, 27, 27);
    color:white;
}
.item-table tr {
    border-top:1px solid rgb(43, 43, 43);
    border-bottom:1px solid rgb(43, 43, 43);
    border-collapse:collapse;
}
table tr:nth-child(even) {
    background:none !important;
  }

.s7 .flexrow {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;

}

.s7 .flexcol {
    display:flex;
    flex-flow:column nowrap;
    justify-content:stretch;
}
.s7 .flex-item {
    color:white;
    overflow-y: auto;
    height:100%;
    width:auto;
    margin-left:2px;
    margin-right:2px;
    flex:1;
    align-items:flex-start;
    overflow-x:hidden;
}

.inset {
    padding:6px;
    margin-top:6px;
    margin-bottom:6px;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.75);
}

.border-right-light {
    border-right:double white;
}
.s7 .flex-attribute {
    color:rgb(255, 255, 255);
    height:auto;
    width:auto;
    margin-left:2px;
    margin-right:2px;
    flex:1;
    align-items:flex-start;
    text-align:center;
}


.s7-sheet {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKElEQVQYV2NUU1P7//PnTwYQYGdnZ2CUl5f/D+OAJMACIBmYKkZ0LQBtSRGf2hu8MAAAAABJRU5ErkJggg==) !important;
}

.s7.white-text {
    color:white;
}

.s7 .value-input {
    width:2ch;
    color:white;
    text-align:center;
}

.s7 .value-input-wide {
    width:8ch;
    color:white;
    text-align:right;
}

.s7 .left {
    text-align:left;
}

.wtext {
    color:white;    
}

.center {
    text-align:center;
}

.add-item {
    margin-left:auto;
    margin-right:3px;
}

.inv-header {
display:flex;
flex-direction:row;

}

.noborder {
    border:none !important;
}

.effect-info {
    display:none;
    font-style:italic;
    background:rgb(43, 43, 43);
    border-top:none !important;
    border-bottom:none !important;
}