select, input, th, tr {
    color:white;
}
table, th {
    border:none;
}


.s7 .window-content {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKElEQVQYV2NUU1P7//PnTwYQYGdnZ2CUl5f/D+OAJMACIBmYKkZ0LQBtSRGf2hu8MAAAAABJRU5ErkJggg==);
  }

option {
    background-color:rgb(27, 27, 27);
    color:white;
}
table tr {
    border-bottom:1px solid white;
}
table tr:nth-child(even) {
    background:none !important;
  }

.s7 .flexrow {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;

}

.s7 .flexcol {
    display:flex;
    flex-flow:column nowrap;
    justify-content:stretch;
}
.s7 .flex-item {
    color:white;
    overflow-y: auto;
    height:100%;
    width:auto;
    margin-left:2px;
    margin-right:2px;
    flex:1;
    align-items:flex-start;
    overflow-x:hidden;
}

.border-right-light {
    border-right:double white;
}
.s7 .flex-attribute {
    color:rgb(255, 255, 255);
    height:auto;
    width:auto;
    margin-left:2px;
    margin-right:2px;
    flex:1;
    align-items:flex-start;
    text-align:center;
}


.s7-sheet {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKElEQVQYV2NUU1P7//PnTwYQYGdnZ2CUl5f/D+OAJMACIBmYKkZ0LQBtSRGf2hu8MAAAAABJRU5ErkJggg==) !important;
}

.s7.white-text {
    color:white;
}

.s7 .value-input {
    width:2ch;
    color:white;
    text-align:center;
}

.s7 .value-input-wide {
    width:8ch;
    color:white;
    text-align:right;
}

.s7 .left {
    text-align:left;
}

.wtext {
    color:white;    
}

.center {
    text-align:center;
}